.App {
  text-align: center;
}

.nav{
  width: 100%;
  background: black;
  color: white;
  height: 100px;
}

span{
  font-size: 50px;
  color:forestgreen;
}

button{
  border:2px solid black;
  height: 40px;
  width: 100px;
  background: rgb(56, 165, 128);
}

.mini{
  top: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px solid blue;
  color: blue;
  font-size: 50px;
}

.more {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 55px;
  border: 3px solid fuchsia;
  color: fuchsia;
  font-size: 50px;
}

.more > span {
  font-size: 20px;
  color: white;
}


